<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.category %></p>

<h3>Address :</h3><%= @restaurant.address %>
<h3>Phone Number :</h3><%= @restaurant.phone_number %>

<h3>Reviews</h3>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
    <li><% (7 - review.rating).times do %>
    <i class="fas fa-star"></i>
    <% end %></li>
  
  <% end %>
</ul>

<br>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<br>
<%= link_to "Edit the restaurant", edit_restaurant_path(@restaurant) %>
<br>
<%= link_to "Back to the list", restaurants_path %>
